.member-profile-page {
}

.member-profile-page .main-content {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    background-color: #eef2f5;
}

.member-profile-page .main-content .form-elements {
    flex: 1;
    padding: 20px;
    background-color: #FFFFFF;
}

.member-profile-page .main-content .side-bar {
    flex-basis: 25%;
    padding: 20px;
    background-color: #FCFCFC;
    border-left: 1px solid #E5E5E5;
}
